body {
    background-color: rgb(200, 215, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

#form-contain {
    background-color: rgb(209, 209, 209);
    padding: 80px; border-radius: 15px;
    text-align: center;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px cornflowerblue;
}

h1 {
    margin: 0px 0px 40px 0px;
}

input {
    width: 200px;
    padding: 10px
}

input[type="submit"] {
    width: 220px;
    background-color: black;
    color: white; box-shadow: 0 0.5px 6px rgb(200, 215, 255) , 0 0.5px 4px rgba(0, 0, 0, 0.24); cursor: pointer;
}

#usernameerror, #passworderror{
    color: red;
    text-align: left;
    margin: 0px;

}